* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* background: -webkit-linear-gradient(278deg, #000000,#0300a8);
    background: linear-gradient(8deg, #ff0000,#000000); */
}



